.container {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container form {
  width: 250px;
}

.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
  background-color: #cc3b90;
  color: white;
  font-family: Verdana, sans-serif;
}

p {
  font-family: Verdana, sans-serif;
}

.error {
  font-family: Verdana, sans-serif;
  color: #ff4d76;
}
