.title {
  width: 100%;
  text-align: center;
  margin-top: 24px;
  color: #cc3b90;
  font-family: Verdana, sans-serif;
}

.container {
  width: 20%;
  margin-left: 40%;
  margin-top: 64px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-text {
  width: 100%;
  text-align: center;
  margin-top: 24px;
  color: #cc3b90;
  font-family: Verdana, sans-serif;
}
