.info-text {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-text h1 {
  margin: 0;
  color: #cc3b90;
  font-family: Verdana, sans-serif;
}

.tip-message {
  width: 100%;
  text-align: center;
  color: #cc3b90;
  font-family: Verdana, sans-serif;
  margin-top: 150px;
}

.error-message {
  width: 100%;
  text-align: center;
  color: #cc3b90;
  font-family: Verdana, sans-serif;
  margin-top: 64px;
}

.form {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.next-btn {
  width: 100%;
  margin-top: 12px;
  display: flex;
  justify-content: center;
}

.next-btn button {
  background-color: #cc3b90;
  width: 160px;
  height: 50px;
  border: none;
  border-radius: 3px;
  color: white;
  font-family: Verdana, sans-serif;
  cursor: pointer;
}

.next-btn button:hover {
  background-color: #dd65ab;
  transition-duration: 0.2s;
}

form > * {
  width: 250px;
}

.personality-area {
  width: 50%;
  margin-left: 30%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  justify-content: center;
}

.personality-area > * {
  flex: 1 1 33.33%;
}
