<h1 class="info-text" [innerHTML]="infoMessage"></h1>
<div [hidden]="profileCompleted" class="start-profile">
  <button [hidden]="setup" (click)="advance()">Build profile</button>

  <div [hidden]="!image" class="upload-photo">
    <input
      type="file"
      accept="image/*"
      name="image"
      id="file"
      style="display: none"
      (change)="loadImage($event)"
    />
    <label for="file"><div class="photo" id="photo"></div></label>
  </div>

  <form
    nz-form
    [hidden]="!physical"
    [formGroup]="physicalForm"
    class="login-form"
  >
    <nz-form-item>
      <nz-form-control nzErrorTip="Valid ages are between 18 and 70.">
        <nz-input-group>
          <input type="text" nz-input formControlName="age" placeholder="Age" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Valid heights are between 50 and 300 cm.">
        <nz-input-group>
          <input
            type="text"
            nz-input
            formControlName="height"
            placeholder="Height (cm)"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Valid weights are between 30 and 300 kg.">
        <nz-input-group>
          <input
            type="text"
            nz-input
            formControlName="weight"
            placeholder="Weight (kg)"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzSpan]="12" nzErrorTip="Eyes color field is required!">
        <nz-select
          style="width: 250px"
          formControlName="eyesColor"
          nzPlaceHolder="Eyes color"
          (ngModelChange)="(null)"
        >
          <nz-option
            nzValue="not mentioned"
            nzLabel="Prefer not to mention"
          ></nz-option>
          <nz-option nzValue="Brown" nzLabel="Brown"></nz-option>
          <nz-option nzValue="Blue" nzLabel="Blue"></nz-option>
          <nz-option nzValue="Green" nzLabel="Green"></nz-option>
          <nz-option nzValue="Gray" nzLabel="Gray"></nz-option>
          <nz-option nzValue="Hazel" nzLabel="Hazel"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzSpan]="12">
        <nz-select
          style="width: 250px"
          formControlName="hairColor"
          nzPlaceHolder="Hair color"
          (ngModelChange)="(null)"
        >
          <nz-option
            nzValue="not mentioned"
            nzLabel="Prefer not to mention"
          ></nz-option>
          <nz-option nzValue="Blonde" nzLabel="Blonde"></nz-option>
          <nz-option nzValue="Brunette" nzLabel="Brunette"></nz-option>
          <nz-option nzValue="Red" nzLabel="Red"></nz-option>
          <nz-option nzValue="Black" nzLabel="Black"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzSpan]="12">
        <nz-select
          style="width: 250px"
          formControlName="tattoos"
          nzPlaceHolder="Tattoos"
          (ngModelChange)="(null)"
        >
          <nz-option
            nzValue="Prefer not no mention"
            nzLabel="Prefer not to mention"
          ></nz-option>
          <nz-option nzValue="Yes" nzLabel="Yes"></nz-option>
          <nz-option nzValue="No" nzLabel="No"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
<div [hidden]="!personality" class="personality-area" id="personalityTraits">
  <app-trait
    *ngFor="let trait of personalityTraits; let i = index"
    [index]="i"
    [id]="i"
    (click)="selectPersonality($event)"
  ></app-trait>
</div>
<div [hidden]="!leisure" class="leisure-area">
  <nz-transfer
    [nzDataSource]="hobbiesList"
    [nzTitles]="['Hobbies']"
    style="font-family: Verdana, sans-serif"
  ></nz-transfer>
  <nz-transfer
    [nzDataSource]="sportsList"
    [nzTitles]="['Sports']"
    style="font-family: Verdana, sans-serif"
  ></nz-transfer>
  <nz-transfer
    [nzDataSource]="musicList"
    [nzTitles]="['Music']"
    style="font-family: Verdana, sans-serif"
  ></nz-transfer>
</div>
<div [hidden]="!contact" class="contact-form">
  <form nz-form [formGroup]="contactForm" class="login-form">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="instagram">
          <input
            type="text"
            nz-input
            formControlName="instagram"
            placeholder="Instagram"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="facebook">
          <input
            type="text"
            nz-input
            formControlName="facebook"
            placeholder="Facebook"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="twitter">
          <input
            type="text"
            nz-input
            formControlName="twitter"
            placeholder="Twitter"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
<div [hidden]="!nextBtnValid" class="next-btn-area" id="nextBtnArea">
  <div class="next-btn">
    <button [hidden]="!previousValid" (click)="previous()">Previous</button>
  </div>
  <div class="next-btn">
    <button (click)="advance()">Next</button>
  </div>
</div>
<div class="profile" [hidden]="!profileCompleted">
  <div class="profile-photo-area">
    <input
      type="file"
      accept="image/*"
      name="profile"
      id="photoUpdate"
      style="display: none"
      (change)="updateProfile($event)"
      [disabled]="!ownProfile()"
    />
    <label for="photoUpdate"
      ><div class="photo" id="profilePhoto" [style]="getCursor()"></div
    ></label>
  </div>
  <p class="user-name" (click)="showModal(0)" [style]="getCursor()">
    {{ userName }}
  </p>
  <div class="traits-area">
    <div class="trait-area">
      <div class="trait-title"><p>Physical Traits</p></div>
      <div class="traits">
        <div class="trait">
          <div class="trait-image">
            <img
              src="/assets/Profile/age.png"
              width="36px"
              height="36px"
              (click)="showModal(1)"
              [style]="getCursor()"
            />
          </div>
          <div class="trait-text" [style]="getCursor()">
            <p nz-button (click)="showModal(1)" id="age">
              {{ ageText }}
            </p>
          </div>
        </div>
        <div class="trait">
          <div class="trait-image">
            <img
              src="/assets/Profile/height.png"
              width="36px"
              height="36px"
              (click)="showModal(2)"
              [style]="getCursor()"
            />
          </div>
          <div class="trait-text" [style]="getCursor()">
            <p nz-button (click)="showModal(2)" id="height">
              {{ heightText }} cm
            </p>
          </div>
        </div>
        <div class="trait">
          <div class="trait-image">
            <img
              src="/assets/Profile/weight.png"
              width="36px"
              height="36px"
              (click)="showModal(1)"
              [style]="getCursor()"
            />
          </div>
          <div class="trait-text" [style]="getCursor()">
            <p nz-button (click)="showModal(3)" id="weight">
              {{ weightText }} kg
            </p>
          </div>
        </div>
        <div class="trait">
          <div class="trait-image">
            <img
              src="/assets/Profile/eyecolor.png"
              width="36px"
              height="36px"
              (click)="showModal(4)"
              [style]="getCursor()"
            />
          </div>
          <div class="trait-text" [style]="getCursor()">
            <p nz-button (click)="showModal(4)" id="eyeColor">
              {{ eyeColorText }}
            </p>
          </div>
        </div>
        <div class="trait">
          <div class="trait-image">
            <img
              src="/assets/Profile/haircolor.png"
              width="36px"
              height="36px"
              (click)="showModal(5)"
              [style]="getCursor()"
            />
          </div>
          <div class="trait-text" [style]="getCursor()">
            <p nz-button (click)="showModal(5)" id="hairColor">
              {{ hairColorText }}
            </p>
          </div>
        </div>
        <div class="trait">
          <div class="trait-image">
            <img
              src="/assets/Profile/tattoo.png"
              width="36px"
              height="36px"
              (click)="showModal(6)"
              [style]="getCursor()"
            />
          </div>
          <div class="trait-text" [style]="getCursor()">
            <p nz-button (click)="showModal(6)" id="tattoos">
              {{ tattooText }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="trait-area">
      <div class="trait-title"><p>Personality Traits</p></div>
      <div class="traits" style="gap: 0px">
        <app-trait
          *ngFor="let element of userPersonalityTraits; let i = index"
          [text]="userPersonalityTraits[i]"
          (click)="showModal(7)"
          [cursor]="getCursor()"
        ></app-trait>
      </div>
    </div>
    <div class="trait-area">
      <div class="trait-title"><p>Leisure</p></div>
      <div class="traits">
        <div class="trait">
          <div class="trait-image">
            <img
              nz-button
              nz-popover
              nzPopoverTitle="Hobbies"
              [nzPopoverContent]="hobbiesTemplate"
              nzPopoverTrigger="click"
              src="/assets/Profile/hobbies.png"
              width="36"
              height="36"
            />
          </div>
          <div class="trait-text">
            <p
              nz-button
              nz-popover
              nzPopoverTitle="Hobbies"
              [nzPopoverContent]="hobbiesTemplate"
              nzPopoverTrigger="click"
            >
              View list
            </p>
          </div>
        </div>
        <div class="trait">
          <div class="trait-image">
            <img src="/assets/Profile/sports.png" width="36" height="36" />
          </div>
          <div class="trait-text">
            <p
              nz-button
              nz-popover
              nzPopoverTitle="Sports"
              [nzPopoverContent]="sportsTemplate"
              nzPopoverTrigger="click"
            >
              View list
            </p>
          </div>
        </div>
        <div class="trait">
          <div class="trait-image">
            <img src="/assets/Profile/music.png" width="36" height="36" />
          </div>
          <div class="trait-text">
            <p
              nz-button
              nz-popover
              nzPopoverTitle="Music"
              [nzPopoverContent]="musicTemplate"
              nzPopoverTrigger="click"
            >
              View list
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="trait-area">
      <div class="trait-title"><p>Contact</p></div>
      <div class="traits">
        <div class="trait" [hidden]="!instagramValid()">
          <div class="trait-image">
            <img
              src="/assets/Profile/instagram.png"
              width="36px"
              height="36px"
              (click)="showModal(8)"
              [style]="getCursor()"
            />
          </div>
          <div class="trait-text" [style]="getCursor()">
            <p (click)="showModal(8)">{{ userInstagram }}</p>
          </div>
        </div>
        <div class="trait" [hidden]="!facebookValid()">
          <div class="trait-image">
            <img
              src="/assets/Profile/facebook.png"
              width="36px"
              height="36px"
              (click)="showModal(8)"
              [style]="getCursor()"
            />
          </div>
          <div class="trait-text" [style]="getCursor()">
            <p (click)="showModal(9)">{{ userFacebook }}</p>
          </div>
        </div>
        <div class="trait" [hidden]="!twitterValid()">
          <div class="trait-image">
            <img
              src="/assets/Profile/twitter.png"
              width="36px"
              height="36px"
              (click)="showModal(10)"
              [style]="getCursor()"
            />
          </div>
          <div class="trait-text" [style]="getCursor()">
            <p (click)="showModal(10)">{{ userTwitter }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div [hidden]="!writeFirstMessage" class="next-btn-area">
    <div class="next-btn">
      <button (click)="showModal(11)" [hidden]="!writeFirstMessage">
        Send message
      </button>
    </div>
  </div>
</div>
<div class="tip-text">
  <p>{{ tipMessage }}</p>
</div>
<div class="progress">
  <nz-progress
    [hidden]="!setup"
    [nzPercent]="percentage"
    [nzStrokeColor]="appColor"
    nzType="circle"
  ></nz-progress>
</div>

<ng-template #hobbiesTemplate>
  <div>
    <p
      class="leisure-selected"
      *ngFor="let element of profileSelectedHobbies; let i = index"
      (click)="deselectHobby(i)"
      [style]="getCursor()"
    >
      {{ profileSelectedHobbies[i] }}
    </p>
    <p
      class="leisure-unselected"
      *ngFor="let element of profileHobbies; let i = index"
      (click)="selectHobby(i)"
      [hidden]="!ownProfile()"
    >
      {{ profileHobbies[i] }}
    </p>
  </div>
</ng-template>

<ng-template #sportsTemplate>
  <div>
    <p
      class="leisure-selected"
      *ngFor="let element of profileSelectedSports; let i = index"
      (click)="deselectSport(i)"
      [style]="getCursor()"
    >
      {{ profileSelectedSports[i] }}
    </p>
    <p
      class="leisure-unselected"
      *ngFor="let element of profileSports; let i = index"
      (click)="selectSport(i)"
      [hidden]="!ownProfile()"
    >
      {{ profileSports[i] }}
    </p>
  </div>
</ng-template>

<ng-template #musicTemplate>
  <div>
    <p
      class="leisure-selected"
      *ngFor="let element of profileSelectedMusic; let i = index"
      (click)="deselectMusic(i)"
      [style]="getCursor()"
    >
      {{ profileSelectedMusic[i] }}
    </p>
    <p
      class="leisure-unselected"
      *ngFor="let element of profileMusic; let i = index"
      (click)="selectMusic(i)"
      [hidden]="!ownProfile()"
    >
      {{ profileMusic[i] }}
    </p>
  </div>
</ng-template>

<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <ng-container *nzModalContent>
    <input
      [hidden]="!firstInputNeeded"
      type="text"
      (change)="onChangeFirstInput($event)"
      [value]="firstInputValue"
      [placeholder]="firstPlaceholder"
    />
    <input
      [hidden]="!secondInputNeeded"
      type="text"
      (change)="onChangeSecondInput($event)"
      [value]="secondInputValue"
      [placeholder]="secondPlaceholder"
      style="margin-left: 12px"
    />
    <form [formGroup]="selectForm" [hidden]="!editSelect">
      <select formControlName="selectedItem" (change)="editProfile($event)">
        <option
          *ngFor="let element of selectList; let i = index"
          style="font-family: Verdana, sans-serif"
          [value]="selectList[i]"
        >
          {{ selectList[i] }}
        </option>
      </select>
    </form>
    <div class="change-traits" [hidden]="!changePersonality">
      <app-trait
        *ngFor="let trait of personalityTraits; let i = index"
        [index]="i"
        [id]="i"
        [selected]="selectedPersonalityTraits[i]"
        (click)="selectPersonality($event)"
        style="width: 200px"
      ></app-trait>
    </div>
  </ng-container>
</nz-modal>
