.info-text {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  font-family: Verdana, sans-serif;
  text-align: center;
  color: #cc3b90;
}

.tip-text {
  width: 100%;
  height: 50px;
  margin-top: 50px;
  font-family: Verdana, sans-serif;
  color: #cc3b90;
  display: flex;
  align-items: center;
  justify-content: center;
}

.next-btn-area {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-profile {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  align-items: center;
  height: auto;
}

.start-profile button,
.next-btn button {
  background-color: #cc3b90;
  width: 160px;
  height: 50px;
  border: none;
  border-radius: 3px;
  color: white;
  font-family: Verdana, sans-serif;
  cursor: pointer;
}

.start-profile button:hover,
.next-btn button:hover {
  background-color: #dd65ab;
  transition-duration: 0.2s;
}

form {
  width: 250px;
}

.personality-area {
  width: 50%;
  margin-left: 25%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  justify-content: center;
}

.personality-area > * {
  flex: 1 1 33.33%;
}

.progress {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.photo {
  width: 128px;
  height: 128px;
  border: none;
  background-image: url("/assets/user.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
}

.leisure-area {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 64px;
}

.contact-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.profile {
  width: 100%;
  margin-top: 24px;
}

.profile-photo-area {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.user-name {
  width: 100%;
  margin-top: 12px;
  text-align: center;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  color: #cc3b90;
}

.traits-area {
  width: 100%;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.trait-area {
  width: 100%;
  display: flex;
}

.trait-title {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  color: #cc3b90;
}

.trait-title p {
  margin: 0;
}

.traits {
  width: 60%;
  margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 24px;
  padding-left: 36px;
  border-left: 1px solid #cc3b90;
}

.traits > * {
  flex: 0 1 33.33%;
}

.trait {
  width: 72px;
  display: flex;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  color: #cc3b90;
}

.trait-image {
  cursor: pointer;
}

.trait-text {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.trait-text p {
  margin: 0;
  margin-left: 12px;
}

.change-traits {
  display: flex;
  flex-wrap: wrap;
  row-gap: 12px;
}

.change-traits > * {
  flex: 1 1 33.33%;
  width: auto;
}

.leisure-selected {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  color: #cc3b90;
  cursor: pointer;
}

.leisure-unselected {
  font-family: Verdana, sans-serif;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .trait-title {
    width: 20%;
  }

  .traits {
    width: 70%;
    margin-left: 5%;
  }

  .trait-text p {
    margin-left: 10px;
    font-size: 11px;
  }
}

@media only screen and (max-width: 600px) {
  .trait-title {
    width: 15%;
  }

  .traits {
    width: 80%;
    margin-left: 0%;
  }

  .trait-title p {
    font-size: 11px;
  }

  .trait-text p {
    margin-left: 10px;
    font-size: 9px;
  }
}
